select {
	padding: 6px;
	font-size: 14px;
	color: #666;
	border: 1px solid #ccc;
	background: white;
	padding: 5px;
	width: 287px;
	/* margin-bottom: 10px; */
	border-radius: 4px;
	-webkit-transition: 0.5s ease-in-out all;
	-moz-transition: 0.5s ease-in-out all;
	-ms-transition: 0.5s ease-in-out all;
	-o-transition: 0.5s ease-in-out all;
	transition: 0.5s ease-in-out all;
}

select:focus {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	outline: 0;
	outline: thin dotted 9;
}

textarea {
	resize: none;
	padding: 6px;
	font-size: 14px;
	color: #666;
	border: 1px solid #ccc;
	background: white;
	padding: 5px;
	width: 200px;
	margin-bottom: 10px;
	border-radius: 4px;
	-webkit-transition: 0.5s ease-in-out all;
	-moz-transition: 0.5s ease-in-out all;
	-ms-transition: 0.5s ease-in-out all;
	-o-transition: 0.5s ease-in-out all;
	transition: 0.5s ease-in-out all;
}

input[type=text], input[type=password] {
	font-size: 14px;
	color: #666;
	border: 1px solid #ccc;
	border-right: 3px solid #ccc;
	background: white;
	padding: 7px;
	width: 200px;
	/* margin-bottom: 10px; */
	/* border-radius: 4px; */
	/* -webkit-transition: 0.5s ease-in-out all;
	-moz-transition: 0.5s ease-in-out all;
	-ms-transition: 0.5s ease-in-out all;
	-o-transition: 0.5s ease-in-out all; */
	/* transition: 0.5s ease-in-out all; */
}

input[type=text]:focus, input[type=password]:focus {
	-moz-box-shadow: -4px 0 0 #2695dd inset;
    -webkit-box-shadow: -4px 0 0 #2695dd inset;
    -o-box-shadow: -4px 0 0 #2695dd inset;
    box-shadow:-4px 0 0 #2695dd inset; 
    /* border:1px solid #2695dd; */
    border-right: 3px solid #2695dd;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	outline: 0;
	outline: thin dotted 9;
}

input[type=button], input[type=submit], input[type=reset] {
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #eee;
	color: #666;
	height: 26px;
	cursor: pointer;
	padding: 0px 10px;
	outline: 0;
	margin-right: 10px;
}

input[type=button]:focus, input[type=submit]:focus {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	outline: 0;
	outline: thin dotted 9;
}

input[type=checkbox] {
	width: 20px;
	height: 20px;
	background: #fcfff4;
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4',
		endColorstr='#b3bead', GradientType=0);
	margin: 20px auto;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px
		rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
	position: relative;
}

input[type=radio] {
	width: 20px;
	height: 20px;
	background: #fcfff4;
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4',
		endColorstr='#b3bead', GradientType=0);
	margin: 20px auto;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 17px;
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 10px;
}

ul.listStyle li {
	line-height: 26px;
	font-size: 14px;
	font-weight: bold;
	list-style: square;
	margin: 0px;
	padding: 0px;
}

/*alert*/
.alert {
	padding: 5px;
	/* margin-bottom: 20px; */
	border: 1px solid transparent;
	/* border-radius: 4px; */
	font-size: 12px;
}

.alert h4 {
	margin-top: 0;
	color: inherit
}

.alert .alert-link {
	font-weight: 700
}

.alert>p, .alert>ul {
	margin-bottom: 0
}

.alert>p+p {
	margin-top: 5px
}

.alert-dismissable {
	padding-right: 35px
}

.alert-dismissable .close {
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit
}

.alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
    border-left: 3px solid #3c763d;
}

.alert-success hr {
	border-top-color: #c9e2b3
}

.alert-success .alert-link {
	color: #2b542c
}

.alert-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
	border-left: 3px solid #31708f;
}

.alert-info hr {
	border-top-color: #a6e1ec
}

.alert-info .alert-link {
	color: #245269
}

.alert-warning {
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
    border-left: 3px solid #8a6d3b;
}

.alert-warning hr {
	border-top-color: #f7e1b5
}

.alert-warning .alert-link {
	color: #66512c
}

.alert-danger {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
    border-left: 3px solid #d3080c;
}

.alert-danger:hover {
    border-left: 3px solid #ebccd1;
}

.alert-danger hr {
	border-top-color: #e4b9c0
}

.alert-danger .alert-link {
	color: #843534
}

.danger {
	color: #a94442;
}

.form-container{margin: 0px auto; text-align: center;}
.form-container table{margin: 0px auto;}
.message-container{display: none;}
.previous, .next {text-decoration: none; display: inline-block; padding: 4px 10px; cursor: pointer; border: none;}
.previous:hover, .next:hover {background-color: #ddd; color: black;}
.previous {background-color: #f1f1f1; color: black;}
.next {background-color: #4CAF50; color: white;}
.round {border-radius: 50%;}